@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
}

body {
    background-color: #F5F5F5 !important;
    opacity: 100%;
}

header {
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 20px;
}

main {
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.nav-container {
    width: 1280px;
    margin: 0 auto;
    padding: 24px 0;
}

.nav-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title h2 {
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}

.nav-title .nav-btn {
    color: #006A50;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    background: none;
    border: 1px solid #006A50;
}

.nav-title .nav-btn:hover {
    background-color: #006A50;
    color: white;
    cursor: pointer;
}

.banner {
    background-color: #C6E4D6;
    border-radius: 10px;
    width: 1280px;
    margin: 0 auto 80px;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 117px 59.99px;
    gap: 64px;
}

.banner-text h4 {
    color: #0E0E0E;
    opacity: 50%;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}

.banner-text h2 {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
}

.banner-container .banner-btn {
    color: white;
    background-color: #006A50;
    padding: 17px 34px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

.piller .piller-header {
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
    height: 48px;
    margin: 0 0 32px 0;
}

.piller-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px
}

.piller-card {
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 302px;
    height: 244px;
    padding: 24px;
    border: 3px solid whitesmoke
}

.piller-card-icon {
    margin-bottom: 24px;
}

.piller-card-header {
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
    margin: 0 0 12px 0;
    opacity: 80%;
}

.piller-card-paragraph {
    font-size: 16;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 70%;
    line-height: 24px;
}

.vision-container {
    margin: 80px auto;
}

.vision-header h2 {
    font-size: 40px;
    font-weight: bold;
}

.vision-header p {
    font-size: 16px;
    margin-top: 24px;
    opacity: 70%;
    line-height: 24px;
}

.vision-card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 32px auto;
    gap: 24px
}

.vision-card {
    border-radius: 16px;
    padding: 24px;
    width: 410px;
    height: 325px;
    background-color: #D5E1F5;

}

.vision-card-header {
    margin: 24px auto;
    line-height: 24px;
    font-size: 16px;
}

.vision-card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 12px 0;
    color: #0E0E0E;
    opacity: 80%;
}

.vision-card-description {
    color: #0E0E0E;
    opacity: 70%;
    margin: auto;
}

/* .vision-card-blue {
    background-color: #81B4FC;
} */

.vision-card-green {
    background-color: #C6E4D6;
}

.vision-card-yellow {
    background-color: #F7EBCF;
}

.vision-card-button {
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin: 24px 0 0 0;
}

.vision-card-blue .vision-card-button {
    background-color: #5490F5;
}

.vision-card-green .vision-card-button {
    background-color: #09A15C;
}

.vision-card-yellow .vision-card-button {
    background-color: #FFC239;
}

.chief-advisor {
    background-color: #FFFFFF;
    /* border: 1px solid rgb(231, 230, 230); */
    max-width: 1280px;
    max-height: 256px;
    margin: 0 auto;
    padding: 48px 24px;
    border-radius: 8px;
}

.chief-advisor .quote {
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    margin-bottom: 12px;
}

.intro h2 {
    font-weight: 600;
    font-size: 20;
    opacity: 80%;
    color: #0E0E0E;
}

.intro p {
    color: #0E0E0E;
    opacity: 60%;
}

.opinion-header {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 12px;
}

.opinion-container {
    padding: 32px;
    border-radius: 16px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.opinion-table {
    width: 100%;
    align-items: center;
    border-collapse: collapse;
}

.table-col-title th {
    padding: 24px;
    background-color: #C6E4D6;
    border: none;
    font-weight: 600;
    font-size: 20px;
    margin: 0 auto;
}

.table-row td {
    padding: 24px;
}

/* .table-row:nth-child(2) {
    align-items: right;
    margin: auto 0;
} */

/* .sel-opt-data select{
    align-items: right;
} */

.table-col-title:nth-child(1) {
    text-align: left;
}

.table-col-title:nth-child(2) {
    text-align: right;
}

table,
th,
td {
    border: 2px solid rgb(238, 233, 233);
}

.table-select-option {
    background-color: #C6E4D6;
    border-radius: 4px;
    padding: 14px;
    border: 2px solid #0E0E0E;
}

.table-select-option .option {
    font-size: 20px;
    font-weight: 800;
}

.table-row td:nth-child(1) {
    font-size: 16;
    font-weight: 600;
    padding: 24px;
    width: 75%;
}

.table-row td:nth-child(2) {
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.sel-opt-data select {
    width: 152px;
}